* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background {
    height: 99.4%;
    width: 100%;
}

/* ************************** */

.header {
    /* border: 2px solid blue; */
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.header a {
    text-decoration: none;
    color: white;
}

.header p {
    margin: 20px;
    color: white;
}

.header .check {
    background-color: #b7eaaf;
    color: black;
    padding: .3rem;
    border-radius: 5px;
    font-weight: 700;
}

/* ************************** */

.center .left {
    /* border: 2px solid red; */
    width: 50%;
    height: 70%;
    margin: 10rem;
    padding: 1rem 1rem;
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 0;
}

h1 {
    color: rgb(255, 255, 255);
    width: 60%;
    font-size: 45px;
    /* margin-bottom: -3rem; */
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    margin-top: -30px;
}

.center .left p {
    width: 45%;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
    
}

.center .left #wait {
    font-size: 14px;
    color: #D2FFCB;
}

.center .left button {
    background: linear-gradient(90deg, rgba(127, 202, 33, 0.8), #105200);
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin: 0.5rem 0;
}

/* ************************* */

.center .right {
    position: absolute;
    /* border: 2px solid red; */
    top: 0rem;
    margin: 10rem 45rem;
    width: 65%;
    height: 80%;
}

.center .right img {
    margin-top: 16%;
    width: 23%;
}

/* ************************** */

.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30%;
    width: 100%;
}

#one{
    background-image: url(./Rectangle\ 13.png);
    width: 170px;
    border-radius: 15px;
    background-size: 200px;
    margin-left: -215px;
    margin-top: 100px;

}

#two{
    background-image: url(./Rectangle\ 13\ \(1\).png);
    width: 170px;
    border-radius: 15px;
    background-size: 200px;
    margin-left: 10px;
    margin-top: 100px;

}

#three{
    background-image: url(Rectangle\ 13\ \(2\).png);
    width: 170px;
    border-radius: 15px;
    background-size: 200px;
    margin-left: 10px;
    margin-top: 100px;
    

}
#four{
    background-image: url(./Rectangle\ 13\ \(3\).png);
    width: 170px;
    border-radius: 15px;
    background-size: 200px;
    margin-left: 10px;
    margin-top: 100px;

}
.right{
    display: flex;
    align-items: start;


    /* margin-left: -100px; */
}
.right .plant{
    
    height: 120px;
    
}

header{
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}
footer{
    margin-top: 60px;
    margin-left: 10px;
    color: white;
}